@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background:  -webkit-linear-gradient(#4338ca, #818cf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
};

.purpleShadow {
  box-shadow: 3px 3px 1px 1px lavender;
}

.purpleShadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px lavender;
}

.shadow {
  box-shadow: 3px 3px 1px 1px rgb(133, 132, 132);
  transition: box-shadow 0.3s ease;
}


.footerLink {
  transition: transform 0.3s ease;
}

.footerLink:hover {
  color: rgb(93, 28, 138);
  font-size: 14px;
  font-weight: bolder;
  transform: translateX(15px);
}

.formBackground {
  background:  -webkit-linear-gradient(#5e5a86, #98a1ea);
  -webkit-background-clip: content-box;
}

.slideDownElementFirst {
  animation: slideDown 0.75s ease-in-out forwards; 
}

.slideDownElementSecond {
  animation: slideDown 1s ease-in-out forwards; 
}

.slideDownElementThird {
  animation: slideDown 1.25s ease-in-out forwards; 
}

.navSection {
  transition: font-size 0.3s ease-in-out;
  font-weight: 500;
}

.navSection:hover {
  font-size: 18px;
  box-shadow: 2.5px 2.5px 1px 1px lavender;
}

.advantageCardAction {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: rollAround 15s ease-in-out infinite; 
  box-shadow: 3px 3px 1px 1px rgb(179, 124, 218);
}

.totalStats {
  animation: totalStatsAnimation 2s forwards ; 
}

.totalStatsOne {
  animation: totalStatsAnimation 2.5s forwards ; 
}

.totalStatsTwo {
  animation: totalStatsAnimation 3s forwards ; 
}

@keyframes verticalTilt {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-60deg); 
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rollAround {
  0% {
    transform: translateX(40px);
  }
  25% {
    transform: translateX(-400px);
  }
  50% {
    transform: translateX(-800px);
  }
  75% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes slideDown{
  from {
    opacity: 0; 
    transform: translateY(-200px); 
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
  } to {
    opacity: 1;
    transform: translateY(0); 
  }}

  @keyframes totalStatsAnimation {
    from {
        opacity: 0; 
        transform: translateY(-100px) rotateX(90deg); 
    } 
    to {
        opacity: 1;
        transform: translateY(0) rotateX(0deg); 
    }
}